<h1> User details for : <%= @user.full_name %></h1>

<div>
  <div>
    <b> ID : </b>
    <%= @user.id %>
  </div>
  <br>
  <div>
    <b> First Name : </b>
    <%= @user.first_name %>
  </div>
  <br>
  <div>
    <b> Last Name : </b>
    <%= @user.last_name %>
  </div>
  <br>
  <div>
    <b>Email : </b>
    <%= @user.email %>
  </div>
</div>
<br><br>
<div>
  Options:
  <ul>
    <li>
      <a href="<%= edit_user_path(@user) %>">
        edit
      </a>
    </li>
    <li>
      <%= link_to "delete", user_path(@user), method: :delete %>
    </li>
  </ul>
</div>
